<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Document</title>
</head>
<body>
   <!--  <form action="/" method="POST" th:object="${formModel}">
        <h1>ユーザー登録</h1>
        <label>名前</label>
        <input type="text" name="name">
        <label>メール</label>
        <input type="text" name="mail">
        <label>パスワード</label>
        <input type="text" name="pass">
        <input type="submit" value="登録">
    </form>

    <h1>顧客リスト</h1>
    <table>
        <tr>
            <th>登録者番号</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>パスワード</th>
        </tr>
        <tr  th:each="c : ${customers}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.mail}"></td>
            <td>見せられないよ</td>
        </tr>
    </table> 
 -->
    <form action="/" method="POST" th:object="${formModel}">
        <h1>匿名投稿</h1>
        <label>タイトル</label><br>
        <input type="text" name="title"><br>
        <label>本文</label><br>
        <textarea name="message" id="" cols="30" rows="10"></textarea><br>
      	<input type="hidden" name="data" th:text="${data}">
        <input type="submit" value="投稿する">
    </form>
    <h1>内容</h1>
    <section>
     
        <div th:each="c : ${customers}">
            <label>タイトル</label>
            <p th:text="${c.title}"></p>
            <label>投稿時間</label>
            <p th:text="${c.data}"></p>
            <label>本文</label>
            <p th:text="${c.message}"></p>
        </div>
    </section>
    
</body>
</html>